.page-link {
  color: #252525 !important;
  cursor: pointer !important;
}

.page-link:hover {
  color: #323232 !important;
  cursor: pointer !important;
}

.page-link:focus {
  box-shadow: 0 0 0 0.25rem #00000040 !important;
  color: #252525 !important;
}
